@model IEnumerable<AppView.ViewModels.LoGoVM>
@foreach (var item in Model)
{
   
    {
        @* <h2 class="mb-0 site-logo"><a href="index.html">Royal Hotel</a></h2> *@
        <a asp-area="" asp-controller="Home" asp-action="Index" class="mb-0 site-logo "><img src="~/img/@item.Logo" alt="logo" width="200px"></a>
    }
    
}
