@model AppData.TinTuc

@{
    ViewData["Title"] = "Edit Tin Tức";
}

<style>
    label{
        color:black;
    }
</style>

<form asp-action="Edit" enctype="multipart/form-data" method="post" class=" ">



    <table class="table mb-1">
        <thead>
            <tr>
                <th class="text-start">Chỉnh sửa tin tức</th>
            </tr>
        </thead>
    </table>


    <div class="table-scrollable">
        <div class="mt-4">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                                <div class="col-md-6">

                                    <label asp-for="TenTinTucChinh" class="control-label">Tên tin tức chính</label>
                                    <input asp-for="TenTinTucChinh" class="form-control" placeholder="Enter main title" />
                                    <span asp-validation-for="TenTinTucChinh" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label asp-for="TenTinTucPhu" class="control-label">Tên tin tức phụ</label>
                                        <input asp-for="TenTinTucPhu" class="form-control" placeholder="Enter subtitle" />
                                        <span asp-validation-for="TenTinTucPhu" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="NoiDungNgan" class="control-label">Nội dung ngắn</label>
                                        <textarea asp-for="NoiDungNgan" class="form-control" rows="3" placeholder="Enter short content"></textarea>
                                        <span asp-validation-for="NoiDungNgan" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                                    <select asp-for="TrangThai" class="form-control">
                                        <option value="true">Hoạt động</option>
                                        <option value="false">Không hoạt động</option>
                                    </select>
                                    <span asp-validation-for="TrangThai" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <label asp-for="NoiDungChiTiet1" class="control-label">Nội dung chi tiết 1</label>
                                        <textarea asp-for="NoiDungChiTiet1" class="form-control" rows="3" placeholder="Enter detail content 1"></textarea>
                                        <span asp-validation-for="NoiDungChiTiet1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label asp-for="NoiDungChiTiet2" class="control-label">Nội dung chi tiết 2</label>
                                        <textarea asp-for="NoiDungChiTiet2" class="form-control" rows="3" placeholder="Enter detail content 2"></textarea>
                                        <span asp-validation-for="NoiDungChiTiet2" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label asp-for="NoiDungChiTiet3" class="control-label">Nội dung chi tiết 3</label>
                                        <textarea asp-for="NoiDungChiTiet3" class="form-control" rows="3" placeholder="Enter detail content 3"></textarea>
                                        <span asp-validation-for="NoiDungChiTiet3" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label asp-for="NoiDungChiTiet4" class="control-label">Nội dung chi tiết 4</label>
                                        <textarea asp-for="NoiDungChiTiet4" class="form-control" rows="3" placeholder="Enter detail content 4"></textarea>
                                        <span asp-validation-for="NoiDungChiTiet4" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">Hành động</h5>
                            <button type="submit" class="btn btn-primary mb-2">
                                <i class="fa fa-save"> </i>
                                Lưu
                            </button>
                            <a asp-action="Index" class="btn btn-danger mb-2">
                                <i class="fa fa-arrow-left"> </i>
                                Trở lại
                            </a>

                            <div class="col-md-12">

                                <div class="form-group">
                                    <label asp-for="HinhAnh1" class="control-label">Hình ảnh 1</label>
                                    <input type="file" name="imageFile1" class="form-control mb-2" />
                                    @if (Model.HinhAnh != null)
                                    {
                                        <img src="~/img/about/@Model.HinhAnh" width="328" height="150" />
                                    }
                                    <span asp-validation-for="HinhAnh1" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

